<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Deposit Calculator">
    <meta name="keywords" content="Deposit Calculator">
    <meta name="author" content="Seungwoo Paek">
     
    <title>Deposit Calculator</title>

</head>
<body>

  [예금, 이율 (0.1 %)] 신한은행 입출금 : <br>
  [예금, 이율 (4.0 %)] 신한은행 한달애 (愛) : <br>
  [예금, 이율 (0.1 %)] 신한은행 청약 통장 : <br>
  
  [예금, 이율 (2.7 %)] 카카오뱅크 자유적금 예금화 : <br>
  [예금, 이율 (2.5 %)] 웰컴저축은행 입출금 : <br>
  [예금, 이율 (2.0 %)] 사이다뱅크 입출금 : <br>
  [적금, 이율 (10.0 %)] 사이다뱅크 적금 : <br>

  [CMA, 이율 (3.65 %)] 한화투자증권 CMA : <br>


  총 자산 : <br>
  연 수익 : <br>
  월 수익 : <br>

</body>
</html>