<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Deposit Calculator">
    <meta name="keywords" content="Deposit Calculator">
    <meta name="author" content="Seungwoo Paek">
     
    <title>Deposit Calculator</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <b>[Seungwoo Paek]</b><br>
    총 자산 : <span id="Total_Balance"></span><br>
    연 수익 : <span id="Total_Year_Interest"></span><br>
    월 수익 : <span id="Total_Month_Interest"></span><br>

    <div id="DepositGrid" class="ag-theme-material" style="height: 500px;"></div>
    
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <!--<script src="https://unpkg.com/ag-grid-enterprise@21.2.1/dist/ag-grid-enterprise.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ag-grid/21.2.1/ag-grid-community.min.js"></script>
    <script src="js/grid.js"></script>
</body>
</html>